*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(173, 162, 162, 0.26); */
        background-color: #f2f4f7;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      
}
.container{
    display: flex;
    gap: 50px;
  width: 90%;
  flex-direction: row;
    
    
    
}
.container-1{
    width: 70%;
}
.facebook{
    color: blue;
    font-size: 4rem;
    margin-bottom: 1rem;
}
p{
    font-size: 24px;
    
}
.details{
    background-color: white;
    border-radius: 8px;
    margin-right: 2rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px;
    
    
    
}
input{
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 10px;
    margin-top: 1rem;
    
}
.input{
    padding: 10px 15px;
    margin-top: 2px;

}
.btn{
    width: 90%;
    padding: 14px ;
    margin-left: 1.5rem;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 2px;
    
}
hr{
    margin-left: 1rem;
    margin-right: 1rem;
}
.password{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
}
.btn-1{
    
    padding: 10px 15px;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: green;
    
}
@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
        width: 70%;
        height: 90%;
        margin-left: 2rem;
    }
    .facebook{
        text-align: center;
        font-size: 32px;
        margin-left: 7rem;
    }
    p{
        
        font-size: 20px;
        text-align: center;
        
        width: 150%;
        text-align: center;
    }
    .password{
        text-align: center;
        width: 100%;
    }
    .btn-1{
        padding: 10px;

        
    }
    .details{
        width: 800;
        margin-left: 5rem;
    }
    input{
        width: 70.8%;
        margin-right: 2rem;
        
    }
    p{
        text-align: center;
    }
    .password{
        text-align: center;
    }

    .btn{
        width: 80.9%;
    }
    .btn-1{
         width: 50% ;
         margin-left: 5rem;
         
    }

}
@media screen and ( max-width:480px) {
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin-right: 5rem;
        
    }
    .container-1{
        
        width: 100%;
    }
    .facebook{
        font-size: 30px;
        text-align: center;
        margin-right: 1rem;
        
        
    }
    p{
        font-size: 12px;
        text-align: center;
        
        
    }
    .details{

        width: 100%;
        
    }
    input{
        width: 70%;
    }
    .btn{
        width: 80.9%;
       background-color: red;
    }
    .btn-1{
        padding: 10px;
    }
} 